.container {
    margin: 0 auto;
    width: 1200px;
    padding: 0;
} 
.fr{
    float:right;
}
.nav {
    background-color: #363c64;
} 
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}